<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导出生成json文件和文本</title>
</head>
<body>
    <ul>
        <li><button onclick="downloadJson(students)">导出生成json文件</button></li>
        <li><button onclick="downloadText(students)">导出生成文本</button></li>
        <li><button id="btnToMap">导出map.json文件</button></li>
    </ul>

    <script src="../../js/jquery-1.11.0.js"></script>
    <script src="../../js/underscore-min.js"></script>
    <script src="fileSaver.js"></script>
    <script src="handleMap.js"></script>
    <script>
        var students = [{
            "name": "小明1",
            "age": "6",
            "sex": "男",
            "height": "60"
        }, {
            "name": "小明2",
            "age": "7",
            "sex": "男",
            "height": "70"
        }, {
            "name": "小明3",
            "age": "8",
            "sex": "男",
            "height": "80"
        }];

        // 导出生成json文件
        function downloadJson(data) {
            var blob = new Blob([JSON.stringify(data)], { type: "" });
            saveAs(blob, "map.json");
        }
        // 导出生成文本
        function downloadText(data) {
            var blob = new Blob([JSON.stringify(data)], { type: "text/plain;charset=utf-8" });
            saveAs(blob, "hello.txt");
        }
    </script>
</body>
</html>